<div class="browse-page">
  <app-header></app-header>
  <div class="banner">
    <img class="banner-image" src="https://i.ytimg.com/vi/Q66IOLTi6cM/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAMP_x8c12qQTm6xTMEk603v7iZ9A" alt="" />
    <div class="banner-movie-info">
      <h4>Movie title</h4>
      <p>movie description</p>
      <div>
        <button>Play</button>
        <button>More info</button>
      </div>
    </div>
  </div>
  <div class="movie-categories">
    <app-movie-category [title]="'Trending'"/>
    <app-movie-category [title]="'New release'"/>
  </div>
</div>
